extends layout

block content
  h1 #{title}#{item.name}
  p= item.description
  h4 Price: #{item.priceFormattedGBP}
  ul(class="basic-list") Categories:
    each category in item.category
      li
        a(href=category.url) #{category.name}
  br
  h5= item.quantity > 0 ? `${item.quantity} in stock` : "Out of stock"
  
  hr
  a(href=item.url+"/update") Update Item
  br
  a(href=item.url+"/delete") Delete Item