extends layout

block content
  h1 #{title}#{item.name}
  p= item.description
  h4 Price: #{item.priceFormattedGBP}
  ul(style={
    "list-style":"none",
    "padding":"0",
    "margin":"0"
  }) Categories:
    each category in item.category
      li
        a(href=category.url) #{category.name}
  
  hr
  a(href=item.url+"/update") Update Item
  br
  a(href=item.url+"/delete") Delete Item